

/* Large desktop */
@media (min-width: 1200px) { 


 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

 }

/* Landscape phones and down */
@media (max-width: 480px) { 
	#first h3 {
		font-size: 24px;
	}
	#first {
		min-height: 370px;
	}
	#second {
		padding: 10px 0;
	}
	.welcome h3 {
		font-size: 20px;
	}
	.side h2 {
	    font-size: 25px;
	}
	#sixth {
		padding: 10px 0;
	}
	h2.over {
		font-size: 20px;
	}
	

}

